.btn-danger {
    max-width: 2em;
    align-items: center;
    justify-content: center;
    background-color: #ffffff52;
    border-color: #ffffff52;
}

button {
    opacity: .8;
    height: 3em;
    background-color: aliceblue;
}

body {
    background-image: url('../images/Gradient_builder_2.jpeg');
}

.btn-secondary:not(.delete){
    opacity: .4;
    text-decoration: line-through;
}



.btn-primary{
    background-color: #ffffff94;
    border-color: #ffffff94;
    color: black;
    filter: drop-shadow(10px 10px 15px gray);
}
.btn-primary:not(.delete):hover{
    text-decoration: line-through;
}

footer {
    padding-top: 200px;
    color: whitesmoke;
}

h1 {
    align-items: center;
    padding-top: 2em;
    padding-bottom: 1em;
    color: whitesmoke;
    font-family: Apple Chancery, cursive;
}

